<!--<ion-header no-border>-->
  <!--<ion-navbar text-center="">-->
    <!--<ion-title>Bluetooth</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bluetooth</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div>
    <div class="btn-container">
      <div class="btn-connect-bluetooth" (click)="startScanning()">
        <ion-icon style="vertical-align: middle;" name="bluetooth"></ion-icon>
        <span style="font-size: 0.7em;vertical-align: middle;margin: 0 0 0 10px; border-bottom: 1px solid #b4b4b4;">Rechercher</span>

      </div>

      <div class="btn-disconnect-bluetooth" (click)="disconnect()">
          <ion-icon name="close"></ion-icon>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-list-header style="margin: 0 0 0 0">
      Appareils associés
    </ion-list-header>

    <ion-item *ngIf="!pairedDevices">
      <div class="empty">
      Aucun appareils accociés
      </div>
    </ion-item>

    <ion-item *ngFor="let device of pairedDevices">
      <span (click)="selectDevice(device.address, device.name)">
        <div class="name">{{device.name}}</div>
        <div class="address">{{device.address}}</div>
      </span>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header style="margin: 0 0 0 0">
      Appareils disponibles
    </ion-list-header>

    <ion-item *ngIf="!unpairedDevices">
      <div class="empty">
        Aucun appareils disponibles
      </div>
    </ion-item>

    <div *ngIf="gettingDevices" class="unavalaible-spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address, device.name)">
          <div class="name">{{device.name}}</div>
          <div class="address">{{device.address}}</div>
      </span>
    </ion-item>
  </ion-list>

</ion-content>
