page-bluetooth {

  ion-list-header {
    background-color: #342B41 !important;
    padding:10px 0;
    color: white !important;
    border:0 !important;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35) !important;

    //border-bottom: 1px solid white;
  }

  ion-item {
    //box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) !important;
    .item-inner {
      border:0 !important;
    }
  }


  ion-list {
    .name {
      font-size: 1em;
    }

    .address {
      font-size: 0.5em;
    }

    .empty {
      font-size: 0.7em;
      text-align: center;

    }
  }

  .btn-container {
    display: flex;
    color: white;
    //margin:0 0 20px 0;
    .btn-connect-bluetooth {
      min-width: 85%;
      background: #143F90;
      padding: 15px;
      border-right:1px solid white;
      text-align: center;
      font-size: 1.3em;
    }

    .btn-disconnect-bluetooth {
      min-width: 15%;
      background: #8f1a22;
      padding: 15px;
      border-left:1px solid white;
      text-align: center;
      font-size: 1.3em;
    }
  }

  .unavalaible-spinner {
    text-align: center;
    ion-spinner {
      width: 30px;
      height: 30px;
    }
  }




}
