<ion-header no-border>
  <ion-navbar text-center="">
    <ion-title>Connexion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header style="margin: 40px 0 0 0">
      Appareils associés
    </ion-list-header>

    <ion-item *ngIf="!pairedDevices">
      <div class="address">
      Aucun appareils accociés
      </div>
    </ion-item>

    <ion-item *ngFor="let device of pairedDevices">
      <span (click)="selectDevice(device.address)">
        <div class="name">{{device.name}}</div>
        <div class="address">{{device.address}}</div>
      </span>
    </ion-item>

    <ion-list-header style="margin: 40px 0 0 0">
      Appareils disponibles
    </ion-list-header>

    <ion-item *ngIf="!unpairedDevices">
      <div class="address">
        Aucun appareils disponibles
      </div>
    </ion-item>

    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
          <div class="name">{{device.name}}</div>
          <div class="address">{{device.address}}</div>
      </span>
    </ion-item>
  </ion-list>

  <div style="position: fixed; bottom: 75px; left: 50%; transform: translateX(-50%);">
    <div style="display: flex; justify-content:center;">
      <div class="btn-bluetooth">
        <button color="grey" round ion-button large icon-only (click)="startScanning()">
          <ion-icon name="bluetooth"></ion-icon>
        </button>
        <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
      </div>

      <div class="btn-bluetooth">
        <button color="white" round ion-button large icon-only (click)="disconnect()">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </div>
  </div>

</ion-content>
