// http://ionicframework.com/docs/theming/

@import '../assets/fonts/gotham';

ion-content {
  font-family: 'Gotham-light' !important;
  background: linear-gradient(bottom, #15657A, #18887A) !important;

}

ion-header {
  font-family: 'Gotham-light' !important;
  //box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
}